@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "akira";
  src: url("./assets/Akira Expanded Demo.otf") format("truetype");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
